name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  tf-checks-private-subnet-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.0.5
    with:
      working_directory: './_example/private-subnet/'
  tf-checks-basic-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.0.5
    with:
      working_directory: './_example/basic/'
  tf-checks-public-private-subnet-single-nat-gateway-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.0.5
    with:
      working_directory: './_example/public-private-subnet-single-nat-gateway/'
  tf-checks-complete-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.0.5
    with:
      working_directory: './_example/complete/'
  tf-checks-public-subnet-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.0.5
    with:
      working_directory: './_example/public-subnet/'
